body {
    background-color: aliceblue;
}
.square {
    margin: 0;
    padding: 0;
    width: 100px;
    height: 100px;
    background-color: white;
    border: 1px solid darkgreen;
    transition: background-color linear .3s;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    font-size: 70px;
}

.square:hover {
    background-color: rgb(194, 192, 192);
}

.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 0 auto 0;
}

.start__btn {
    width: 200px;
    height: 50px;
    border: 0;
    border-radius: 5px;
    background-color: darkgreen;
    color: white;
    font-size: 20px;
    margin-top: 25px;
}

.playground {
    
    margin-top: 50px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

