.square {
    margin: 0;
    padding: 0;
    width: 100px;
    height: 100px;
    background-color: white;
    border: 1px solid darkgreen;
    transition: background-color linear .5s;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    font-size: 70px;
}

.square:hover {
    background-color: rgb(194, 192, 192);
}

.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 300px;
    background-color: burlywood;
    margin: 50px auto 0;
    padding: 100px;
}

